<div class="card-body flex flex-col place-content-between">
    <h2 class="card-title">Actions</h2>
    <button id="reset_button" hx-get="/control/target_reset" hx-trigger="click throttle:300ms" hx-swap="none"
        class="btn btn-primary btn-block btn-disabled">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-refresh">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M20 11a8.1 8.1 0 0 0 -15.5 -2m-.5 -4v4h4" />
            <path d="M4 13a8.1 8.1 0 0 0 15.5 2m.5 4v-4h-4" />
        </svg>
        Reset Target
    </button>
    <button id="pulse_button" hx-get="/control/pulse_laser" hx-trigger="click throttle:300ms" hx-swap="none"
        class="btn btn-warning btn-block btn-disabled">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-flare">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M12 3l3 6l6 3l-6 3l-3 6l-3 -6l-6 -3l6 -3z" />
        </svg>
        Pew Pew Pew
    </button>
</div>