<div class="flex h-full flex-col">
    <p class="prose max-w-none">
        A firmware corresponding to the following source code is executed by the target <code>RP2350</code>.
    </p>

    <p class="prose max-w-none">
        Note that the glitching countermeasures (glitch detectors) of the target are enabled.
    </p>

    <div class="divider"></div>

    <div class="overflow-auto flex-1 rounded-box bg-base-content">
        <div class="p-3">
            {{ target_source_code }}
        </div>
    </div>
</div>