@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui";
@source "../**/*.{html,py,js}";

@theme {
    --animate-wiggle: wiggle 1s ease-in-out infinite;

    @keyframes wiggle {

        0%,
        100% {
            transform: rotate(-2deg);
        }

        50% {
            transform: rotate(2deg);
        }
    }
}